<%- include ../layout/header %>
<%- include ../layout/navigation_bar %>
<% if (message) { %>
<center><div class="alert"><%= message %></div></center>
<% } %>
<!-- 这里展示结果 -->
<%- include all %>
<%- include ../layout/footer %>
